/* start of upper navigator area*/
html, body{
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.upperNav {

    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    color: black;
    padding: 2em;
    font-size: 2em;
    border-radius: 1em;
}

.leftNav {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.rightNav {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

/*end of navigator area*/

/*start of main*/

main {
    flex: 1;
    display: grid;
    grid-template-areas: 
    "main mainnav";
    gap: 2em;
    padding: 2em;
    width: 98%;
    border-radius: 10px;
    color: white;
}

.header,.gameParagraph,.gameImage{
    grid-area: main;
}

.header {
    font-size: 3.5em;
    font-weight: bolder;
}


.gameParagraph {
    font-size: 2em;
}

img {
    max-width: 350px;
    height: 380px;
}

.gameImage {
    background-color: white;
    border: solid black 4px;
    border-radius: 20px;
    width: 435px;
    height: 435px;
    float: left;
    margin-right: 5em;
    
}

figCaption {
    font-style: italic;
    font-size: 1.5em;
    color: black;
}

.mainAside{
    display: grid;
    grid-area: mainnav;
    background-color: rgb(0, 183, 255);
    padding:2em;
    width: 300px;
    height: 93%;
    border-radius: 1.5em;
    font-size: 1.5em;
}

.mainAside header{
    font-size: 1em;
}

.footer{
    background-color: grey;
    height: 80px;
    text-align: right;
    border-radius: 1.5em;
    color: white;
} 



.footer p{
    padding: 10px;
}


.gallery img{
    opacity: 0.5;
    transition: opacity 0.5s ease;
    width: 1200px;
    height: 400px;
    color: white;
}

.gallery img:hover{
    opacity:1;
}


.gallery{
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
    color: white;
}

.gallery figcaption{
    transition: color 0.5s ease;
}

.gallery figure:hover figcaption{
    color: white;
}




